.background {
    background-image: url('/background-white.jpg');
    background-repeat: repeat-y;
    height: 100vh;
    filter:blur(10px);
  }

@media (prefers-color-scheme: dark) {
    .background {
        background-image: url('/background.jpg');
    }
}